/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    body{
        padding-top: 89px !important;
    }
    .c_padding {
    padding-top: 50px !important;
    padding-bottom: 70px;
    }
    header {
        padding: 10px 0;
       
    }
    .menu ul li a {
        font-size: 15px;
        padding: 0 !important;
        text-align: right;
    }
    
    /* Slider start */
    .slider {
        padding-bottom: 60px;
    }
    .c_ind {
        bottom: -60px;
    }
    .c_ind [data-bs-target] {
        width: 13px;
        height: 13px;
    }
    .s_text {
        margin-top: 0;
    }
    .s_text h1 {
        font-size: 25px;
    }
    .s_text h2 {
        margin: 10px 0;
        font-size: 20px;
    }
    .s_text p {
        margin-bottom: 20px;
    }
    .s_icon ul li {
        margin-right: 15px !important;
    }
    .s_icon ul li i {
        font-size: 30px;
    }
    
    /* Slider end */   /* fetured stsrt  */
    
    

    .c_h1{
        margin-bottom: 10px;
        font-size: 25px;
    }
    .c_p {
        font-size: 17px;
        line-height: 25px;
    }
    .f_item{
        margin-top: 30px;
    }
    .f_icon i {
        margin-top: 0;
        font-size: 35px;
    }
    .f_text{
        text-align: center;
    }
    .f_text h2 {
        margin-bottom: 0;
        font-size: 20px;
    }
    .f_text p {
        letter-spacing: 0px;
    }
     /* contact start  */
    .c_form{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .c_input{
        height: 40 px;
       padding: 10px 10px;
    } 
    .c_submit{
        height: 45px;
    }
    .ci_con li{
        margin-right: 25px !important;
    }

    .ci_con li i{
        font-size: 38px;
    }
    
   
      /* footer start  */
      footer{
        padding-bottom: 70px;
    }
    .f_1 {
        text-align: center;
        margin-bottom: 0 !important;
        
    }
    .f_2 {
        margin-top: 40px;
        text-align: center;
       
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .c_padding{
        padding-top: 50px !important;
        padding-bottom: 70px;
    }
    /* header start */
    .menu ul li a {
        font-size: 20px !important;
        padding: 0 !important;
        text-align: right;
    }
    /* Slider start */
    .slider {
        padding-bottom: 60px;
    }
    .c_ind {
        bottom: -55px;
    }
    .c_ind [data-bs-target] {
        width: 13px;
        height: 13px;
    }
    .s_text {
        margin-top: 0;
    }
    .s_text h1 {
        font-size: 25px;
    }
    .s_text h2 {
        margin: 10px 0;
        font-size: 20px;
    }
    .s_text p {
        margin-bottom: 20px;
    }
    .s_icon ul li {
        margin-right: 20px !important;
    }
    .s_icon ul li i {
        margin-right: 35px !important;
    }
    /* Slider end */
       /* fetured stsrt  */
      
    }
   
    .c_h1{
        margin-bottom: 10px;
        font-size: 25px;
    }
    .c_p {
        font-size: 17px;
        line-height: 25px;
    }
    .f_item{
        margin-top: 30px;
    }
    .f_icon i {
        margin-top: 0;
        font-size: 35px;
    }
    .f_text{
        text-align: center;
    }
    .f_text h2 {
        margin-bottom: 0;
        font-size: 20px;
    }
    .f_text p {
        letter-spacing: 0px;
    }
    /* contact start  */
    .c_form{
        margin-top: 35px;
        margin-bottom: 40px;
    }
    .c_input{
        height: 45px;
       padding: 10px 10px;
    } 
    .c_submit{
        height: 45px;
    }
    
    .ci_con li{
        margin-right: 25px !important;
    }

    .ci_con li i{
        font-size: 40px;
    }
    /* footer start  */
    footer{
        padding-bottom: 70px;
    }
    .f_1 {
        text-align: center;
        margin-bottom: 40px;
       
    }
    .f_2 {
        text-align: center;
        
        
    }
    

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .c_padding{
        padding-top: 80px !important;
        padding-bottom: 100px;
    }
    /* header start   */
    .menu ul li a {
        padding: 10px 0 0 !important;
        text-align: right;
    }
    /* fetured start  */
    
    .f_item {
        margin-top: 50px;
    }
    /* fetured end  */
    /* contact start  */
    .c_form {
        margin-top: 65px;
        margin-bottom: 70px;
    }
    /* footer start  */
footer{
    padding-bottom: 100px;
}
.f_1 {
    text-align: left !important;
   
   
}
.f_2 {
    text-align: left !important;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .f_1 {
        text-align: left !important;
       
       
    }
    .f_2 {
        text-align: left !important;
        }
    /* Add styles here if needed */
}

/* Extra Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .f_1 {
        text-align: left !important;
       
       
    }
    .f_2 {
        text-align: left !important;
        }
    /* Add styles here if needed */
}

/* Extra extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
    .f_1 {
        text-align: left !important;
       
       
    }
    .f_2 {
        text-align: left !important;
        }
    /* Add styles here if needed */
}
